body {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 100;
  background-color: #F6F7EB;
}
h1,
h2,
h3 {
  font-weight: 100;
}

ul {
  padding: 0;
}

.btn-primary:focus, .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:hover, .btn-primary.active, .btn-primary:active, .btn-primary {
  background-color: #59cd90;
  border-color: #53bd85;
  color: #EBF5EE;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
  background-color: #53bd85;
  border-color: #393d3f;
  color: #EBF5EE;
}

/**
 * LogInBox
 */
.log-in-box {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  margin-left: -15px;
  justify-content: center;
  align-items: center;
  background-image: url( 'assets/map-full.jpeg' );
}

.log-in-box__title {
  display: none;
}

.log-in-box__subtitle {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  margin: 20px;
}

.log-in-box__button {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  color: white;
}

.log-in-box__button:hover {
  background-color: #44C7F4;
}

.log-in-box__button:focus {
  outline: none !important;
}

.log-in-box__button.btn-lg {
  padding: 20px 50px;
}

@media( min-width: 755px ) {
  .log-in-box__button {
    margin: auto;
  }
}

.notices {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  z-index: 1001;
}

.notices__title {
  font-size: 3rem;
}

.notices__help {
  font-size: 1.5rem;
  max-width: 90%;
  margin: auto;
  text-align: left;
}

.notices__help__title {
  font-size: 2rem;
}

.notices__errors {
  margin-top: 10px;
}

.notices__notice {
  margin-bottom: 5px;
}

.notices__clear,
.notices__reload {
  margin-bottom: 5px;
}

/**
 * Library
 */
.library {
  margin-top: 5px;
}

.library-location {
  list-style: none;
  text-align: left;
  margin: 4px 0px;
  min-height: 75px;
  overflow: hidden;
  padding: 0px;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #e3e3e3;
  border-width: 2px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}

.library-location--selected {
  border: 2px solid #59cd90;
}

.library-location--droppable {
  background-color: #47A067;
}

.library-location__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 25%;
}

.library-location__loading {
  color: #999;
}

.library-location__description {
  width: 75%;
  padding: 2px 15px;
}

.library-location__description__name {
  margin: 8px 0px 4px 0px;
  font-size: 1.5rem;
}

.library-location__description__address {
  font-size: 1rem;
}

.library-location__add {
  border-radius: 0;
}

.location-search__help {
  padding: 2px 0;
  font-size: 1.4rem;
  margin: 0;
  text-align: left;
  display: none;
}

@media( min-width: 755px ) {
  .location-search__help {
    display: block;
  }
}

.add-location-form,
.edit-location-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

@media( min-width: 755px ) {
  .add-location-form,
  .edit-location-form {
    width: 50%;
  }
}

.add-location-form-container-leave {
  left: 0;
}

.add-location-form-container-leave-active {
  position: absolute;
  top: 0;
  left: -50%;
  transition: all 0.2s ease-in;
}

.add-location-form-container-enter {
  left: -50%;
}

.add-location-form-container-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in;
}

.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  animation: spin 1800ms infinite linear;
  font-size: 18px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@media (min-width: 1000px) {
  .main {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }
}

.main__content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.main__header {
  flex: 1;
  flex-basis: 100%;
  margin-top: 0.8em;
}

.main__clear-trip {
  width: 100%;
  max-width: 480px;
}

.trip__clear-trip {
  width: 100%;
  display: none;
}

@media( min-width: 1000px ) {
  .main__clear-trip {
    display: none;
  }

  .trip__clear-trip {
    display: block;
  }
}

.main__library {
  max-width: 490px;
  width: 100%;
  position: static;
}

@media( min-width: 490px ) {
  .main__library {
    min-width: 490px;
  }
}

.main--trip .main__library {
  position: absolute;
  left: -1000px;
}

@media( min-width: 1000px ) {
  .main--trip .main__library {
    position: static;
  }
}

/**
 * Trip
 */
.trip {
  margin-top: 2.3em;
  max-width: 490px;
  width: 100%;
  flex: 1;
  position: absolute;
  top: -1000px;
}

@media( min-width: 490px ) {
  .trip {
    min-width: 490px;
  }
}

.main--trip .trip {
  position: static;
}

@media( min-width: 1000px ) {
  .trip {
    position: static;
  }
}

.trip__empty-notice {
  margin: 0.5em;
  display: block;
}

.trip--droppable:before {
  content: ' ';
  width: 100%;
  height: 100%;
  background-color: #47A067;
  z-index: 1000;
  opacity: 0.5;
  position: absolute;
  right: 0;
}

.trip__title {
  font-size: 1.2em;
}

.trip-location {
  list-style: none;
  text-align: left;
  padding: 2px 0;
  margin: 4px 0px;
  border-width: 2px;
  min-height: 35px;
  overflow: hidden;
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-width: 2px;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
}

.trip-location--droppable {
  background-color: #47A067;
}

.trip-location__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.trip-location__loading {
  color: #999;
}

.trip-location__description {
  width: 75%;
  padding: 2px 15px;
}

.trip-location__description__name {
  margin: 5px 0px;
  font-size: 1.5rem;
}

.trip-location__description__address {
  font-size: 1.5rem;
}

.trip-map {
  padding: 2px 0;
  margin: 4px 0px;
  border-width: 2px;
  background-color: #E3EEF7;
  height: 120px;
}

.distance {
  flex: 1;
  font-weight: 600;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-size: 1.8rem;
  margin-bottom: 0.5em;
}

.distance__number {
  display: inline-block;
}

.trip-distance-help {
  font-size: 1.4rem;
  white-space: normal;
}

.question {
  margin: 0.5em 0;
}

.trip-buttons button {
  margin: 0.5em;
}

@media( min-width: 1000px ) {
  .trip-buttons__toggle {
    display: none;
  }
}

/**
 * Footer
 */
.footer {
  font-size: 1em;
  margin: 20px 0;
}

/**
 * Admin
 */
.admin-main {
  text-align: left;
}

.admin-main table td,
.admin-main table th {
  max-width: 140px;
  word-wrap: break-word;
  font-size: 1.4rem;
}

.admin-controls__label {
  margin-right: 5px;
}

/**
 * LoadingPanel
 */
.loading-panel {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url( 'assets/map-full.jpeg' );
}

.loading-panel__logo {
  animation-delay: 0.8s;
}

.loading-panel__text-area {
  animation-delay: 1.8s;
}

.loading-panel__text {
  animation-delay: 3s;
  font-weight: 400;
  color: #fff;
}

.loading-panel-leave-active {
  top: -100vh;
  transition: all 500ms;
}

.header-summary {
  width: 100vw;
  margin: 0px -15px;
  background-color: #393D3F;
  padding: 0.5em;
  box-shadow: 0px 1px 10px 3px rgba(0, 0, 0, 0.2);
}

.header-summary-toggle {
  display: flex;
  margin-top: 10px;
}

@media ( min-width: 1000px ) {
  .header-summary-toggle {
    display: none;
  }
}

.header-summary-toggle .btn {
  flex: 1;
}

.header-logo {
  width: 40px;
}

@media  ( min-width: 1000px ) {
  .header-logo {
    width: 70px;
  }
}

.log-out-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: #6b9ccd;
  color: #EBF5EE;
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  right: 0.5em;
}
